# Production config
# Local config: instance/config.py (create one if not already available)
# Remove .example from this file's name after filling out all the keys

# Your own webhook verification token for Facebook to forward to
OWN_WEBHOOK_TOKEN='your_own_token'

# Do not allow debug mode for production
DEBUG=False

# Facebook Page Access Token
PAT = ''
FACEBOOK_APP_ID = ''
FACEBOOK_APP_SECRET = ''

#Yelp
# v2
CONSUMER_KEY=""
CONSUMER_SECRET=""
TOKEN=""
TOKEN_SECRET=""

# v3
YELP_V3_TOKEN = ''

# Heroku MongoDB ============
MONGO_URI = ""
MONGO_DBNAME = '' # Get database

SIMSIMI_KEY = ''

# Bot operation variables:
PRINT_INCOMING_PAYLOAD = False
PRINT_INCOMING_MESSAGE = False