autobahn==0.14.1
beautifulsoup4==4.4.1
Flask==0.10.1
Flask-OAuth==0.12
geopy==1.11.0
google-api-python-client==1.5.1
gunicorn==19.6.0
httplib2==0.9.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
oauth2==1.9.0.post1
oauth2client==2.2.0
Pattern==2.6
pymongo==3.3.0
pyOpenSSL==0.15.1
requests==2.9.1
service-identity==16.0.0
six==1.10.0
Twisted==16.3.0
txaio==2.5.1
ujson==1.33
watson-developer-cloud==0.16.0
websocket-client==0.37.0
Werkzeug==0.11.2
yelp==1.0.2