{% extends "layout.html" %}
{% block body %}
    <main>
        <!--Main layout-->
        <div class="container">
          
           <!--Page heading-->
            <div class="row">
                <div class="col-md-8">
                    <h1 class="h1-responsive">Hi! :)
                    </h1>
                </div>
            </div>
            <!--/.Page heading-->
            <hr>
            
            <!--First row-->
            <div class="row">
                <!--First column-->
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="http://mdbootstrap.com/images/regular/city/img%20(18).jpg" class="img-fluid" alt="">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="read-more">
                                <a href="#!" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Read more</a>
                            </div>
                            <!-- <div class="card-data pull-right col-xs-6">
                                <i class="fa fa-clock-o"></i> 05/10/2015
                            </div> -->
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->    
                </div>
                <!--/.First column-->
                <div class="col-md-3"></div>
                
                
            </div>
            <!--/.First row-->
            
        </div>
        <!--/.Main layout-->   
    </main>
   
    <!--Footer-->
    <footer class="page-footer center-on-small-only primary-color-dark">
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="containter-fluid">
                © 2016 Copyright: Hung Traan
            </div>    
        </div>
        <!--/.Copyright-->        
    </footer>
    <!--/.Footer-->
   
    <!-- SCRIPTS -->
    <script type="text/javascript" src="/static/assets/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/static/assets/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/static/assets/js/mdb.min.js"></script>
{% endblock %}