<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Traanslation Memo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link href="/static/assets/css/mdb.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
        
</head>

<body>
    <header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
        <!--Navbar-->
        <nav class="navbar navbar-dark primary-color-dark">
            <!-- Collapse button-->
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
                <i class="fa fa-bars"></i>
            </button>
            
            <div class="container">

                <!--Collapse content-->
                <div class="collapse navbar-toggleable-xs" id="collapseEx">
                    <!--Navbar Brand-->
                    <a class="navbar-brand" href="/memo">Traanslation Bot</a>
                    <!--Links-->
                </div>
                <!--/.Collapse content-->
           
            </div>
        </nav>
        <!--/.Navbar-->
    </header>

    {% block body %}{% endblock %}
    <script type="text/javascript" src="/static/assets/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/static/assets/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/static/assets/js/mdb.min.js"></script>
</body>
  